<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ship Trajectory</title>

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
</head>
<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        @await Html.PartialAsync("~/Views/Shared/_Navigation.cshtml")

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                @await Html.PartialAsync("~/Views/Shared/_Topbar.cshtml")

                <div class="container-fluid">

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sb-admin-2/sb-admin-2.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

<script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>


    <script src="~/js/table.js" asp-append-version="true"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
