<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-ship"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Ship Trajectory</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" onclick="showView('.map-view')">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Map view</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" onclick="showView('.table-view')">
            <i class="fas fa-fw fa-table"></i>
            <span>Table view</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->