<!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>


        <div class="input-group">
            <select id="ShipId" data-placeholder="Choose a ship" class="form-control">
                <option value="">-- Choose a ship --</option>
                <option value="1111">Martha SS</option>
                <option value="1112">Mihaela 2</option>
            </select>
        </div>
        &nbsp;

        <div class="input-group">
            <select id="ShipType" data-placeholder="Choose a ship type" class="form-control">
                <option value="">-- Choose a ship type --</option>
                <option value="Military">Military</option>
                <option value="SAR">SAR</option>
            </select>
        </div>
        &nbsp;

        <div class="input-group">
            <input id="StartDate" type="text" class="form-control" placeholder="Start date" />
        </div>
        &nbsp;

        <div class="input-group">
            <input id="EndDate" type="text" class="form-control"  placeholder="End date" />
        </div>


    </nav>